@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", serif;
    @apply bg-[url('./assets/images/body-bg.svg')] bg-no-repeat bg-cover bg-[#FAFAFA] text-[#222];
}

.navbar-link {
    @apply inline-flex mx-[18px] py-2 text-[15px] hover:text-[#fe6019] relative after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-0 after:h-0.5 after:bg-[#fe6019]
    after:transition-all after:duration-300 after:ease-in-out hover:after:w-full;
}

.navbar-link-active {
    @apply text-[#fe6019] relative after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-full after:h-0.5 after:bg-[#fe6019];
}

.btn {
    @apply inline-flex bg-white min-w-[150px] px-8 font-medium text-sm rounded-[50px] justify-center items-center duration-200;
}

.nav-dropdown-link {
    @apply inline-flex justify-center lg:justify-start mx-[18px] py-2 min-w-36 text-sm font-medium hover:text-[#fe6019] relative after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-0 after:h-0.5 after:bg-[#fe6019]
    after:transition-all after:duration-300 after:ease-in-out hover:after:w-full;
}

.section {
    @apply py-16;
}

.heading {
    font-family: "Merriweather", serif;
    @apply font-bold leading-tight;
}

.desc {
    @apply text-[#888] leading-[26px];
}

.icon {
    @apply w-6 h-6;
}

.tab-nav-item {
    @apply flex items-center mt-1 px-4 py-3 rounded min-w-[354px] cursor-pointer;
}

.tab-nav-item.active {
    @apply bg-[#fe601966];
}

.bg-gradient {
    background-image: linear-gradient(184.78deg, #fa709a 7.64%, #fee140 120.07%);
}

.video-play-btn {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-20 h-20 flex items-center justify-center bg-[#fe6019] rounded-full animate-[shadow-pulse_1.5s_infinite] after:absolute after:content-[''] 
    after:top-0 after:left-0 after:h-full after:w-full after:rounded-full after:animate-[shadow-pulse-2_1.4s_infinite];
}

.review {
    @apply mt-24 mb-16 rounded-lg bg-white px-3 pt-6 pb-16 text-center shadow-md shadow-black/5 relative;
}

.review-author-avatar {
    @apply w-[90px] h-[90px] rounded-full p-[0.125rem] absolute bottom-full left-1/2 -translate-x-1/2 translate-y-1/2;
}

.heading-footer {
    @apply mb-8 font-semibold text-[#222] text-base;
}

.social-icon {
    @apply inline-block w-11 h-11 flex items-center justify-center rounded-full bg-white text-[#222] hover:bg-[#fe6019] hover:text-white duration-300;
}

.footer-link {
    @apply py-2 hover:text-[#fe6019] hover:underline duration-200;
}

.reviews .swiper-pagination-bullet {
    @apply h-[0.875rem] w-[0.875rem] bg-[#8d8d8d];
}

.reviews .swiper-pagination-bullet-active {
    @apply bg-[#fe6019];
}
